@font-face{
	font-family: "Raleway";
	src: url('Raleway-Regular.eot');
	src: url('Raleway-Regular.eot#iefix') format('embedded-opentype'),
		url('Raleway-Regular.ttf') format('truetype');
}

*{padding: 0px; margin: 0px; font-family: Raleway, Helvetica, sans-serif;}
html{width: 100%; height: 100%;}
th{padding-left: 6px; padding-right: 6px; text-align: center;}
td{text-align: center;}
a{color: #599bb3;}

.genButton {
	background-color: #599bb3;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	border: 1px solid #29668f;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	padding: 6px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #3d768a;
}
.genButton:hover {
	background-color: #408c99;
}
.genButton:active {
	position: relative;
	top: 1px;
}

.suggestedName {
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: 1px solid #AAAAAA;
	cursor: pointer;
}
.suggestedName:hover {
	background-color: #AAFFAA;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}